.app {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.auth {
  display: flex;
  justify-content: center;
}

.auth-app {
  position: fixed;
  top: 3px; /* Отступ сверху */
  left: 3px; /* Отступ слева */
  width: calc(100% - 6px); /* Вычитаем двойной отступ из ширины экрана */
  height: calc(100% - 6px); /* Вычитаем двойной отступ из высоты экрана */
  background-color: #313338;
  border-radius: 7px;
  margin: 0; /* Убираем внешний отступ */
  padding: 0; /* Убираем внутренний отступ */
}

