.room-label {
  margin: 0;
  font-size: 7px;
  font-weight: bold;
  position: absolute;
  bottom: 0.5%;
  left: 0.5%;
  color: #b7babd;
}

.app {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container,
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 570px) {
  .bootom {
    flex-direction: column;
  }
  .top{
    max-height: 100%;
  }
}

@media (max-width: 350px) {
  .top{
    flex-direction: column;
  }
}

.container {
   /* flex-grow: 1; */
  padding: 0 3px;
}

.main {
  display: flex;
  justify-content: center;
}

.main-app {
  position: fixed;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: #313338;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}